@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (max-width: 440px) {
    .card {
        background-color: #F4CB5F;
        padding: 18px;
        border-radius: 9999px;
        border: solid #382D21 3px;
        box-shadow: 5px 5px #382D21;
    }
    .studym {
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #382D21;
        background-color: #F4CB5F;
        border-radius: 9999px;
        width: max-content;
        padding: 25px;
        border: solid #382D21 3px;
        font-size: 15px;
    }
    .headerchoice {
        border: solid #382D21 3px;
        border-radius: 9999px;
        box-shadow: 5px 5px #382D21;
        width: max-content;
        display: flex;
        flex-direction: row;
        gap: 11px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 1px;
        padding-top: 1px;
    }
    .allcards {
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #382D21;
        width: max-content;
        padding: 25px;
        font-size: 15px;
    }
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        padding-bottom: 50px;
    }
    .flashcard1 {
        border: solid #382D21 3px;
        border-radius: 12px;
    }
    .categories {
        border-radius: 9999px;
        font-size: 15px;
        font-family: "Plus Jakarta Sans", sans-serif;
        outline-color: #382D21;
        border: solid #382D21 3px;
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
        padding: 25px;
    }
    .checkbox {
        
    }
}