@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
	font-family: "Plus Jakarta Sans", sans-serif;
	color: #382d21;
}
@media screen and (max-width: 440px) {
	.card {
		background-color: #f4cb5f;
		padding: 18px;
		border-radius: 9999px;
		border: solid #382d21 3px;
		box-shadow: 5px 5px #382d21;
	}
	.studym {
		background-color: #f4cb5f;
		border-radius: 9999px;
		width: max-content;
		padding: 12px;
		border: solid #382d21 3px;
		font-size: 15px;
	}
	.headerchoice {
		border: solid #382d21 3px;
		border-radius: 9999px;
		box-shadow: 5px 5px #382d21;
		width: max-content;
		display: flex;
		flex-direction: row;
		gap: 11px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 1px;
		padding-top: 1px;
	}
	.allcards {
		width: max-content;
		padding: 12px;
		font-size: 15px;
	}
	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 107px;
		padding-bottom: 50px;
	}
	.flashcard1 {
		border: solid #382d21 3px;
		border-radius: 12px;
	}
	.categories {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: max-content;
		padding-left: 12px;
		padding-right: 12px;
		border-radius: 9999px;
		font-size: 15px;
		border: solid #382d21 3px;
		background-color: white;
		gap: 25px;
	}
	.checkbox {
		display: flex;
		flex-direction: row;
		align-items: center;
		outline-color: #382d21;
		gap: 9px;
	}
	.inp {
		height: max-content;
		outline-color: blue;
	}
	.shuffle {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: max-content;
		padding-left: 38px;
		padding-right: 38px;
		border-radius: 9999px;
		font-size: 15px;
		border: solid #382d21 3px;
		background-color: white;
		gap: 25px;
	}
	hr {
		border: solid #382d21 1px;
	}
	.pinkfunky {
		border: solid #382d21 3px;
		margin: 25px;
		border-radius: 12px;
		background-color: #fd8ae5;
        box-shadow: 5px 5px #382d21;
	}
	.weby {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: max-content;
		padding: 22px;
		border-radius: 9999px;
		font-size: 15px;
		border: solid #382d21 3px;
		background-color: white;
		font-weight: bold;
	}
	.htmly {
		font-size: 35px;
		font-weight: bolder;
        width: max-content;
	}
	.emptyy {
		width: 30%;
        padding: 5px;
		border-radius: 9999px;
		border: solid #382d21 3px;
		background-color: white;
	}
    .progressbarr {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding-bottom: 50px;
    }
    .pinkyweb {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .iknow {
        
    }
}
